.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f4f4;
}

Label {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
}

Button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 5px;
}

Button:hover {
    -fx-background-color: #0056b3;
}