
.root {
    -fx-background-color: #121212;
    -fx-font-family: "Arial";
}

Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

Button {
    -fx-background-color: #1DB954; 
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 12px 20px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

Button:hover {
    -fx-background-color: #1AA34A;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


TableView {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #333;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

TableColumn {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
}